<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>ViiteArto</display-name>
    <servlet>
        <servlet-name>ViitteetServlet</servlet-name>
        <servlet-class>ohtu.viitearto.servlets.ViitteetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LisaaViiteServlet</servlet-name>
        <servlet-class>ohtu.viitearto.servlets.LisaaViiteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PoistaViiteServlet</servlet-name>
        <servlet-class>ohtu.viitearto.servlets.PoistaViiteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>ohtu.viitearto.servlets.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViitteenTiedotServlet</servlet-name>
        <servlet-class>ohtu.viitearto.servlets.ViitteenTiedotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HaeViitteetServlet</servlet-name>
        <servlet-class>ohtu.viitearto.servlets.HaeViitteetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MuokkaaViitettaServlet</servlet-name>
        <servlet-class>ohtu.viitearto.servlets.MuokkaaViitettaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViitteetServlet</servlet-name>
        <url-pattern>/Viitteet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LisaaViiteServlet</servlet-name>
        <url-pattern>/LisaaViite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoistaViiteServlet</servlet-name>
        <url-pattern>/PoistaViite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViitteenTiedotServlet</servlet-name>
        <url-pattern>/ViitteenTiedot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HaeViitteetServlet</servlet-name>
        <url-pattern>/HaeViitteet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MuokkaaViitettaServlet</servlet-name>
        <url-pattern>/MuokkaaViitetta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
